@{
    ViewData["Title"] = "Home Page";
}

<div class="home dark-bg">
    <div class="container home">
        <div class="row text-center"><h1>welcome to</h1></div>
        <div class="row text-center"><img src="/images/1Xlogo-white.png" width="66%" /></div>
    </div>
</div>

